@import url(footer.css);
    body {
        background: black;
        font-family: 'Roboto', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .container__logo {
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }

    .Logotipo{
        display: flex;
        height: 35%;
        margin: 20px auto;
        padding: 0 auto;
        position: static;
        width: 35%;
    }

    .slogan__logo {
        color: white;
        font-size: 40px;
        font-style: italic;
        font-weight: bold;

    }

    .container__links{
        align-items: flex-end;
        display: flex;
        height: 300px;
        margin: 0 0 5% 0;
        width: 100%;
        
    }

    .navegacao{
        display: flex;
        width: 100%;
        
    }

    .links__nav{
        border: 2px #8F8F8F solid;
        border-style:dashed;
        display: flex;
        font-size: 60px;
        justify-content: space-evenly; 
        width: 100%;
    }

    .navegacao a{
        color: white;
        font-weight:bold;
        text-decoration:none;
    }

nav a:hover{color: red;}

    .principal{
        height: 100%;
    }

    .swiper {
        height: 60px;
        width: 80%;
    }

    .fotos__swiper{
        height: 100%;
        width: 100%;
    }

    footer{
        margin-top: 30%;
    }

@media (max-width:768px){
   
    .Logotipo{
        height: 80%;
        width: 70%;
    }

    .swiper{
        display: none;
    }

    .container__links{
        display: flex;
        text-align:center;
    }

    .links__nav{
        border: none;
        flex-direction: column;
        justify-content: center;  
    }

    footer{
     margin: 80% 0 0 ;
    }
}

 @media (max-width:1080px){
    
    .Logotipo{
        height: 100%;
        width: 100%;
    }

    .swiper{
        height: 70px;
        margin: 5% auto;
        width: 100%;
    }
    
    .links__nav{
        align-items: center;
        border: none;
        flex-direction: column;     
    }
}