@import url(header.css);
@import url(footer.css);
    body{
        font-family: 'Roboto', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .titulos{
        font-size: 35px;
        font-weight: bold;
        margin: 2% auto;
        text-align: center;
    }

    .conteudo{
        background: linear-gradient(white,grey);
        font-size: 20px;
        height: 100%;
        padding-bottom: 5%;
        width: 100%;
    }

    .label__padrao {
        display:flex;
        flex-direction: column;
        font-weight: bold;
        margin: 1% auto;
        width: 35%;
    }
    
    .input__padrao, .textarea {
        display: flex;
        margin: 2% auto;
        width: 100%;
    }
    
    .container__radio{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .radio{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        width: 40%;
    }
    
    .label__radio{
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold;
        justify-content: space-between;
        margin: 5% 0;  
    }
    
    legend{
        font-size: 25px;
        font-weight: bold;
        margin: 15px auto;
        text-align: center;
        width: 80%;
    }

    .selecao__horario {
        display:flex;
        flex-direction: column;
        font-weight: bold;
        margin: 0 auto;
        width: 35%;
    }

    .divisão {
        display: flex;
        justify-content: center;
        margin: 2% auto;
        width: 80%;
    }

    .opcao__horario{text-align: center;}

    .botao__enviar{
        align-items: flex-end ;
        background:rgb(179, 12, 12);
        border: none;
        border-radius: 1em;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: large;
        justify-content: center;
        width: 50%;
    }

    .botao__enviar:hover {background: black;}

@media (max-width: 768px) {

    .formulario{
        display: flex;
        flex-direction: column;
        margin: 5% 5%;    
    }

    legend{
        width: 100%;   
    }

    .radio{
        margin: 5% auto;
        width: 100%;
    }

    .label__padrao,.textarea{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin: 2% auto;
        width: 100%;
    }

    .input__padrao{
        display: flex;
        margin: 0%;
        width: 50%;
    }

    .selecao__horario{
        width: 100%;
    }
    
    .botao__enviar{
        margin: 5% auto;
        width: 100%;
    }
}