.rodape {
    align-items: center;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.logo__rodape {
    height: 10%;
    width: 10%;
    margin-top: 2%;
    }

.copyright__rodape {
    color: white;
    margin-bottom: 2%;
    }